<!-- <div class="intro-block">
  <div class="monitor">
    <?xml version="1.0" encoding="utf-8"?>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 500 200" style="enable-background:new 0 0 500 200;" xml:space="preserve">
      <g>
        <polyline class="ekg" points="486.6,113.8 328.2,113.8 310.3,132.3 296,70.7 246.8,127.4 241.6,120.2 233.9,166.4 227,27.6 
            213.2,118.3 211.8,112.3 205.1,126.1 198.2,108.5 194.1,124.4 184.5,92.9 174.1,113 4.3,113 	" />
      </g>
    </svg>
  </div>
  <h1>EKG Line Animation</h1>
  <h3>created by</h3>
  <p><a href="http://www.kalaboskop.at" target="_blank">ka<strong>LAB</strong>oskop</a><br><a href="http://www.sjero.com"
      target="_blank">Markus <strong>Sjero</strong></a></p>
</div> -->



<!-- 100 Days CSS Challenge / nº036 -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="frame">
  <div class="center">
		<div class="content">
	<input name="tabs" type="radio" id="tab-1" checked="checked" class="input"/>
			<label for="tab-1" class="label"><span class="fa fa-eye"></span></label>
	<div class="panel">
		<h1>Dashboard</h1>
    <!-- <ul>
      <li *ngFor="let api of APIs; let i = index">
        {{i}} {{api.name}}
      </li>
    </ul> -->

    <div class="wrapper">
            <ngb-accordion  *ngFor="let api of APIs; let i = index" #acc="ngbAccordion">
                <ngb-panel  title="{{api.name}}">
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>

      </div>

	</div>

	<input name="tabs" type="radio" id="tab-2" class="input"/>
	<label for="tab-2" class="label"><span class="fa fa-history"></span></label>
	<div class="panel">
		<h1>history</h1>
		<p>
		<span style="width:95%"></span>
		<span style="width:85%"></span>
		<span style="width:100%"></span>
		<span style="width:80%"></span>
		</p>
		
		<p>
		<span style="width:100%"></span>
		<span style="width:90%"></span>
		<span style="width:100%"></span>
		<span style="width:90%"></span>
		<span style="width:40%"></span>
		</p>
	</div>

	<input name="tabs" type="radio" id="tab-3" class="input"/>
	<label for="tab-3" class="label"><span class="fa fa-cog"></span></label>
	<div class="panel">
		<h1>Settings</h1>
		<p>
		<span style="width:95%"></span>
		<span style="width:85%"></span>
		<span style="width:100%"></span>
		<span style="width:80%"></span>
		</p>
		
		<p>
		<span style="width:100%"></span>
		<span style="width:90%"></span>
		<span style="width:100%"></span>
		<span style="width:90%"></span>
		<span style="width:40%"></span>
		</p>
		</div>
			
		
			
			
			
	<div class="search" (click)="quit()">
		<span class="fa fa-times"></span> </div>
		
		
</div>
  </div>
</div>